

/* ===== SITE LAYOUT =================== */
	.jv-page-container 	{ }
	.jv-page 			{ }
	.jv-page-content 	{ }
	.jv-page-header 	{color: #000000;
  font-family: Futura-pt, sans-serif}
	.jv-page-body 		{color: #000000;
  font-family: Futura-pt, sans-serif}
	.jv-wrapper 		{ }
	.jv-footer 			{ }



/* ===== JOB LISTINGS PAGE  =================== */ 
	
	.jv-page-error 		{ }
	.jv-page-body h2 	{font-size: 10.0pt;font-family: ‘futura-pt’, sans-serif;color: rgb(0,0,0);background-color: transparent;font-weight: 300;}

	
	h3.h2     			{ }
	.jv-job-list  		{ }
	.jv-job-list th  	{ }
	.jv-job-list td  	{ }
	.jv-job-list .jv-job-list-name  		{ }
	.jv-job-list .jv-job-list-location  	{ }






/* ========== JOB DETAILS PAGE =============== */ 
	
	h2.jv-header 	{font-size: 14.0pt;font-family: ‘futura-pt’, sans-serif;color: rgb(0,0,0);background-color: transparent;font-weight: 500;}

	.jv-job-detail-meta,
	.jv-apply-meta    		{}


	.jv-button { }
	.jv-button-primary { }

	.jv-current-openings 	{ }
	.jv-share-widget 		{ }

	.jv-job-detail-bottom-actions,
	.jv-apply-form-actions 	{ }






/* ========== APPLY PAGE ====================== */ 
	
	.jv-form 				{}
	.jv-apply-form 			{}
	.jv-search-form 		{}

	.jv-apply-step 			{}
	.jv-apply-section 		{}
	.jv-step-header 		{} 		/* Section Title */
	.jv-required-label 		{}



	






