/* ===== SITE LAYOUT =================== */
	.jv-page-header {
		font-family: futura-pt, sans-serif;
		font-weight: 500;
		font-size: 21px;
		color: #000000;
	}
	.jv-page-body 		{
		font-family: futura-pt, sans-serif;
		font-weight: 300;
		font-size: 10px;
		color: #000000;
	}
/* ===== JOB LISTINGS PAGE  =================== */ 
	.jv-page-error {
		font-family: futura-pt, sans-serif;
		font-weight: 300;
		font-size: 10px;
		color: #000000;
	}
	.jv-page-body h2 {
		font-family: futura-pt, sans-serif;
		font-weight: 500;
		font-size: 21px;
		color: #000000;
	}
	h3.h2 {
		font-family: futura-pt, sans-serif;
		font-weight: 500;
		font-size: 21px;
		color: #000000;
	}
	.jv-job-list {
		font-family: futura-pt, sans-serif;
		font-weight: 300;
		font-size: 10px;
		color: #000000;
	}
	.jv-job-list th {
		font-family: futura-pt, sans-serif;
		font-weight: 300;
		font-size: 10px;
		color: #000000;
	}
	.jv-job-list td {
		font-family: futura-pt, sans-serif;
		font-weight: 300;
		font-size: 10px;
		color: #000000;
	}
	.jv-job-list .jv-job-list-name {
		font-family: futura-pt, sans-serif;
		font-weight: 300;
		font-size: 10px;
		color: #000000;
	}
	.jv-job-list .jv-job-list-location {
		font-family: futura-pt, sans-serif;
		font-weight: 300;
		font-size: 10px;
		color: #000000;
	}
/* ========== JOB DETAILS PAGE =============== */ 
	h2.jv-header {
		font-family: futura-pt, sans-serif;
		font-weight: 500;
		font-size: 21px;
		color: #000000;
	}
	.jv-button {
		background-color: #ffffff;
		border: 2px solid #FEDB00;
		color: #FEDB00;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		font-size: 10px
	}
	.jv-button-primary {
		background-color: #ffffff;
		border: 2px solid #FEDB00;
		color: #FEDB00;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		font-size: 10px
	}
	/* ========== APPLY PAGE ====================== */ 
	.jv-step-header 		{
		font-family: futura-pt, sans-serif;
		font-weight: 500;
		font-size: 21px;
		color: #000000
	} 		/* Section Title */